/*
font-family: 'Anton', sans-serif;
font-family: 'Bangers', cursive;
font-family: 'Fugaz One', cursive;
font-family: 'Merriweather', serif;

*/
html {
  color: rgb(255, 255, 255);
}

header > h1 {
  font-family: 'Fugaz One', cursive;
  color: whitesmoke;
  margin-top: 15px;
}
html > body {
  background-color: #0a2463;
}
body > section {
  background-color: #6a687a;
  margin-top: 1rem;
  text-align: center;
  height: fit-content;
  min-height: 20rem;
  margin-bottom: 2rem;
  border-radius: 30px;
  color: whitesmoke;
  font-family: 'Fugaz One', cursive;
}
#formContainer {
  color: whitesmoke;
  font-family: 'Bangers', cursive;
  font-size: 1.5em;
}
#formButton {
  font-family: 'Fugaz One', cursive;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #84828f;
  font-size: large;
  margin-top: 2rem;
  color: whitesmoke;
}
#imageURL,
#topText,
#bottomText {
  min-width: 80%;
  background-color: #656371;
  font-family: 'Anton', sans-serif;
  color: whitesmoke;
  border-radius: 20px;
  margin: 5px;
}
#imageURL {
  margin-left: 33px;
}
#topText {
  margin-left: 46px;
}
#bottomText {
  margin-left: 10px;
}

.meme {
  position: relative;
  transform: scale(0.75);
  max-width: 400px;
}
.top,
.bottom {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  left: 70%;
  width: 100%;
  color: white;
  font-family: 'Anton', sans-serif;
}
.top {
  top: 10%;
}
.bottom {
  top: 90%;
}

.button {
  position: absolute;
  font-size: 40px;
  margin-left: 50%;
  transform: translate(-50%, -100%);
  display: none;
}
.meme:hover .button {
  display: block;
  background-color: #ca3c25;
  color: whitesmoke;
}
img:hover {
  opacity: 0.5;
}
